{% extends 'Agendapersonal/base.html' %}

{% block title %}Agregar Contacto{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">Agregar Nuevo Contacto</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <div class="alert alert-danger mt-1 p-1">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary">Guardar Contacto</button>
                            <a href="{% url 'lista_contactos' %}" class="btn btn-secondary">Volver a la lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}